{{ ansible_managed | comment }}
# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                peer map=pg_root
host    all             all             127.0.0.1/32            md5
host    all             postgres        0.0.0.0/8               reject
host    all             all             10.0.0.0/8              md5

