{{ ansible_managed | comment }}
[Unit]
Description=MogoDemo2021 Background Jobs
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_path }}
ExecStart=/var/{{ app_user }}/.asdf/shims/bundle exec sidekiq
Environment=RAILS_ENV=production
Environment=REDIS_URL={{ app_redis_url }}
Environment=RAILS_MASTER_KEY={{ vault_app_master_key }}

[Install]
WantedBy=multi-user.target
