{{ ansible_managed | comment }}
# https://github.com/puma/puma/blob/master/docs/systemd.md

[Unit]
Description=MogoDemo2021 server app
After=network.target

[Service]
Type=simple
WatchdogSec=10
Restart=always
User={{ app_user }}
ExecStart=/var/{{ app_user }}/.asdf/shims/puma -C {{ app_path }}/config/puma.rb

WorkingDirectory={{ app_path }}
Environment=RAILS_ENV=production
Environment=RAILS_MASTER_KEY={{ vault_app_master_key }}
Environment=REDIS_URL={{ app_redis_url }}

[Install]
WantedBy=multi-user.target
