<html>
  <head>
    <meta charset="UTF-8">
    <title>Mogo Demo Dev tools</title>
  </head>
  <body>
    <ul>
{% for uri, text in support_dev_links.items() %}
      <li><a href="{{ uri }}">{{ text }}<a></li>
{% endfor %}
    </ul>
  </body>
</html>
