---
{{ ansible_managed | comment }}
production:
  adapter: postgresql
  encoding: unicode
  username: '{{ app_db_user }}'
  database: '{{ app_db_name }}'
  password: '{{ vault_postgresql_passwords[app_db_user] }}'
  host: '{{ app_db_host }}'
  port: 5432
