ssl_certificate /etc/ssl-certs/{{ nginx_ssl_domain }}/fullchain.cer;
ssl_certificate_key /etc/ssl-certs/{{ nginx_ssl_domain }}/{{ nginx_ssl_domain }}.key;
ssl_session_timeout 1d;
ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
ssl_session_tickets off;

# modern configuration
ssl_protocols TLSv1.3;
ssl_prefer_server_ciphers off;

# HSTS (ngx_http_headers_module is required) (63072000 seconds)
add_header Strict-Transport-Security "max-age=63072000" always;

# OCSP stapling
ssl_stapling on;
ssl_stapling_verify on;

# verify chain of trust of OCSP response using Root CA and Intermediate certs
ssl_trusted_certificate /etc/ssl-certs/{{ nginx_ssl_domain }}/ca.cer;

# replace with the IP address of your resolver
resolver 1.1.1.1;
