user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
	worker_connections 768;
	# multi_accept on;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	##
	# Gzip Settings
	##

	gzip on;

	# gzip_vary on;
	# gzip_proxied any;
	# gzip_comp_level 6;
	# gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	# gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

	##
	# Virtual Host Configs
	##

    server {
        listen 80 default_server;
        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl http2;

        server_name {{ nginx_server_names | join(" ") }};

        include ssl.conf;

        auth_basic "mogo-demo-support";
        auth_basic_user_file /etc/nginx/htpasswd;

        location / {
            root /var/www/dev_tools;
            index index.html;
        }

        location /mail/ {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://127.0.0.1:1080;
        }

        location /sidekiq {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://127.0.0.1:3002;
        }

        location /prometheus {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://127.0.0.1:9090;
        }

        location /alertmanager {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://127.0.0.1:9093;
        }
    }

    server {
        listen 443 ssl http2;
        # listen [::]:443 ssl http2;

        server_name mogo-demo-grafana.{{ nginx_ssl_domain }};

        include ssl.conf;

        location / {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://127.0.0.1:3000/;
        }
    }
}
# vim: set ft=nginx:
