{{ ansible_managed | comment }}
[Unit]
Description=mailcatcher
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/svc_mailcatcher
User=svc_mailcatcher
Environment=GEM_HOME=/home/svc_mailcatcher
ExecStart=/home/svc_mailcatcher/bin/mailcatcher --smtp-ip {{ internal_ip | default(ansible_host) }} --http-ip 127.0.0.1 --http-path /mail/ -f --smtp-port 1025 --http-port 1080

[Install]
WantedBy=multi-user.target
